
.DS_Store

GitX.xcodeproj/project.xcworkspace/contents.xcworkspacedata

GitX.xcodeproj/project.xcworkspace/xcuserdata/Coolin006.xcuserdatad/UserInterfaceState.xcuserstate

GitX.xcodeproj/xcuserdata/Coolin006.xcuserdatad/xcschemes/Generate PList Prefix.xcscheme

GitX.xcodeproj/xcuserdata/Coolin006.xcuserdatad/xcschemes/GitX.xcscheme

GitX.xcodeproj/xcuserdata/Coolin006.xcuserdatad/xcschemes/cli tool.xcscheme

GitX.xcodeproj/xcuserdata/Coolin006.xcuserdatad/xcschemes/gitx_askpasswd.xcscheme

GitX.xcodeproj/xcuserdata/Coolin006.xcuserdatad/xcschemes/xcschememanagement.plist
